body {
	color: #444;
}

.test {
	background: #24292e !important;
}

.index-bg {
	color: rgba(255,255,255,0.6);
	background: url(imgs/simple-codelines.svg),#2b3137;
	background-position: center 10%;
	background-size: cover;
	height: 600px;
	margin-bottom: 20px;
}

.contact-bg {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #2b3137;
	color: #ddd;
}

.about {
	font-size: 20px;
}

.about-icon {
	margin-right: 20px;
}

.section-title {
	padding-bottom: 20px;
}


.mobius-logo {
	background: url(imgs/logo.svg);
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.logo-ani {
	padding-top: 50px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-container {
	padding: 20px;
}

.services-block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.services-icon-border {
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 10%;
}

.services-icon {
	font-size: 96px;
	line-height: 200px !important;
}
.services-text {
	font-size: 24px;
	line-height: 75px;
	margin-bottom: 0;
}

.services-sub-text {
	padding-left: 50px;
	padding-right: 40px;
	font-size: 14px;
	color: #aaa;
}

.flow-container {
	padding: 20px;
}
.flow-block {
	padding-top: 20px;
	padding-bottom: 20px;
}

.flow-icon-border {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 10%;
}

.flow-icon {
	font-size: 60px;
	line-height: 150px !important;
}
.flow-text {
	font-size: 18px;
	line-height: 50px;
	margin-bottom: 0;
}
.flow-sub-text {
	font-size: 10px;
	color: #aaa;
}

.arrow {
	height: 150px;
	margin-top: 20px;
}

.arrow-icon {
	font-size: 48px;
	line-height: 150px !important;
}

.content-container {
	padding-top: 50px;
	padding-bottom: 20px;
}

.carousel-app-container {
	width: 360px;
	height: 640px;
	margin-bottom: 20px;
}

.carousel-client-container {
	width: 853px;
	height: 640px;
	margin-bottom: 20px;
}

.product-img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.image-container {
	margin-bottom: 200px;
	overflow: auto;
}

.page-foot {
	margin-top: 20px;
	margin-bottom: 40px;
}

.qrcode {
	width: 120px;
	height: auto;
}

a {
	color: inherit !important;
}

a:hover{
	color: white;
}
